include header.html

#x.container
  <img src="https://s3-ap-southeast-1.amazonaws.com/picture-pushkar/screen-shot1.png" alt="screen-shot1
" align="middle">

#form-section.container
  #x.hero-unit
    
#x.container
  #x.hero-unit
    p
      | Contact site admin via: <a href="mailto:#{admin}">#{admin}</a>

include footer.html

