include header.html

#x.container
  #x.hero-unit
    p
        <img src="https://s3-ap-southeast-1.amazonaws.com/picture-pushkar/pic1.jpg" alt="screen-shot1
" align="middle">



#x.container
  #x.hero-unit

include footer.html
