include header.html

#x.container
The mounted EBS volume, Screen Shot 1 - 

  <img src="https://s3-ap-southeast-1.amazonaws.com/picture-pushkar/screen-shot1.png" alt="screen-shot1
" align="middle">

The index file residing within the EBS , Screen Shot 2 -

<img src="https://s3-ap-southeast-1.amazonaws.com/picture-pushkar/screen-shot2.png" alt="screen-shot2
" align="middle">

The web server has been configured to serve index from the EBS volume as the default document , Screen Shot 3 -

<img src="https://s3-ap-southeast-1.amazonaws.com/picture-pushkar/screen-shot3.png" alt="screen-shot3
" align="middle">

#form-section.container
  #x.hero-unit
    
#x.container
  #x.hero-unit
    p
      | Contact site admin via: <a href="mailto:#{admin}">#{admin}</a>

include footer.html

